target
data
rust/advent of code/**/input*.txt
paket.exe
packages
scripts/**/*.json
scripts/*.txt
scripts/*.csv
.idea
bin
obj
.vs
*.user
.venv
__pycache__
hs/advent-of-code-2016/**/*
!hs/advent-of-code-2016/**/*.*
hs/advent-of-code-2016/**/*.hi
hs/advent-of-code-2016/**/*.o
hs/advent-of-code-2016/**/*.txt
